/* Inserta tu codigo CSS aqui */
img{
	width: 100%;
}
.caja{
	margin: 0;
	padding: 0;
}
body{ 
	font-size: 1.3rem;
}
.text-center{
	text-align: center;
}
.font-orange{
	color:#F05F40;
}
#service{
	padding:3% 8% 5%;
}

hr{
	border:1px solid #F05F40;
	width: 35px;
}
.items{
	width: 80%;
	
	margin:0 auto;
}
.items h4{
	font-size: 1.9rem;
}
#github {
	background-color: #222222;
	color:white;
	padding:3% 0%;
}
#github a{
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
	padding: 12px 27px;
	background-color: white;
	color:black;
	border-radius: 35px;
	font-weight: bold;
	font-size: 1rem;
}
#github p{
	font-size: 2.1rem;
	line-height: 1.2;
}

@media (max-width: 991px) {
	
	.imagen{
		position: relative;
		opacity: 0.1;
	}
	.items{
		width: 95%;
		margin:40px auto 20px;	
	}
	.items p{
		margin-bottom: 40px;
	}
	.sombra{
		background-color: rgb(240, 95, 64);
		color:white;
	}
	.sombra span{
		color:#F5C1B4;
		font-weight: bold;
		font-size: 1.5rem;
	}
	.centro{
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.8rem;
	}
	.hid{
		display: none;
	}
	#github{
		padding:40px 0px;
	}
	#github p{
		width: 300px;
		margin:0 auto;
	}

}
@media (min-width: 992px) { 
	.centro{
		display: none;
	}
	

